body {
  background-color: #7AB9F3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Vesper Libre';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
